# general
Thumbs.db
.DS_Store
*~
*.log

# java
*.class
hs_err_pid*

# maven
target/

# ivy
lib/mvn-deps/
logs/
src_dataClasses/
src_wsproc/

# local config
**/resources/
threema-connector/config/variables.yaml
threema-connector/config/variables.yaml_template
threema-connector/config/variables.yaml_complete

# threema SKD
**/threema-msgapi-tool.*
